

<header>    
    <h1><img src="https://github.com/Lemoncode/webpack-by-sample/blob/master/version%204/01%20Styles/04%20images/src/content/logo_2.png?raw=true" alt="Lemoncode"></h1>
    <p id="info-student">
        <a href="https://github.com/lauragfueyo">
            <strong>
                Laura González Fueyo
                <small>Gijón</small>
            </strong>
            <img src="https://avatars2.githubusercontent.com/u/43152496?s=460&v=4" alt="" />
        </a>
    </p>
</header>

<div class="container">
    <app-members-table></app-members-table>
</div>
